<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <title>Transactions Page!</title>
  </head>
  <body>
    {% if transaction_list %}
        <h3 style="margin: 50px">Transactions for the current user:</h3>
        <div class="transactions list-group" style="width: 30%; margin:0 auto;">
            {% for transaction in transaction_list %}
                {% ifequal transaction.transaction_type "CR" %}

                    <a href="#" class="list-group-item list-group-item-action list-group-item-primary" onclick="toogleVisibility({{transaction.id}})">Type: {{ transaction.get_transaction_type_display }} Amount: {{ transaction.amount }}
                        <div id={{transaction.id}} style="display: none">
                            <ul >
                                <li>Type: {{ transaction.get_transaction_type_display }}</li>
                                <li>Amount: {{ transaction.amount }}</li>
                                <li>Id: {{ transaction.id }}</li>
                                <li>effectiveDate: {{ transaction.created }}</li>
                            </ul>
                        </div>
                   </a>

                {% else %}
                    <a href="#" class="list-group-item list-group-item-action list-group-item-secondary" onclick="toogleVisibility({{transaction.id}})">Type: {{ transaction.get_transaction_type_display }} Amount: {{ transaction.amount }}
                        <div id={{transaction.id}} style="display: none">
                            <ul >
                                <li>Type: {{ transaction.get_transaction_type_display }}</li>
                                <li>Amount: {{ transaction.amount }}</li>
                                <li>Id: {{ transaction.id }}</li>
                                <li>effectiveDate: {{ transaction.created }}</li>
                            </ul>
                        </div>
                    </a>
                {% endifequal %}
            {% endfor %}
        </div>

    {% else %}
        <h3 style="margin: 30px">No transactions are available for the current user.</h3>
    {% endif %}

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script type="text/javascript">
        function toogleVisibility(id) {
          var x = document.getElementById(id);
          if (x.style.display === "none") {
            x.style.display = "block";
          } else {
            x.style.display = "none";
          }
        }
    </script>
  </body>
</html>